[Desktop Entry]
Name=Veluna
Comment=Ad-free desktop music streaming powered by YouTube
Exec=veluna %U
Icon=veluna
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;Music;
Keywords=music;player;streaming;youtube;audio;
StartupWMClass=veluna
